*{
    margin:0%;
    padding:0%;
}
    .html, body{
        height: 100%;
        width: 100%;
        background-color: #212529;
      
    }
    .main-page{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px; 
}
dialog{
    width: 400px;
    height: 200px;
    background: #212529;
    border: none;
   
    box-shadow: 3px 8px 9px rgb(0 0 0 / 54%);
    overflow: hidden;
    top: 300px;
    left: 200px;
    
}


.dialog-header{
    width: 500px;
    height: 200px;
    display:flex;
    height: 25px;
    background: #212529;
    align-items: center;
    padding:  16px;
    top: -20px;
    right: 10px;
    gap: 8px;
   
    
}
.dialog-header svg{
    stroke: #fff;
    fill: transparent;
}
    .dialog-title{
        font-size: 20px;
        color:whitesmoke;
}

    

.dialog-actions2{
    top: -30px;
    right: 0%;
    display: inline-flex;
gap: 200px;
}


.twobutton{
    display: inline-flex;
    top:-10px;
    right: 0px;
    gap:30%;

}
.clearing{
    height: 2opx;
    width: 30px;
    top:-10px;
    right:0%

}

.clear{
    width:150% ;
    height: 150%;
    color: rgb(237, 97, 97);
}
.cancel{
    width: 150%;
    height: 150%;
    color: black;
}
.confirm{
    width: 150%;
    height: 150%;
    color: rgb(48, 48, 246);


}
.dialog-actions1{
    color: #fff;
    background: rgb(60, 59, 59);
    border-width: 10px;
    border: size 50px;
    
}
.action{
    position: absolute;
    top: 22px;
    right: 40px;

}